@import url('https://fonts.googleapis.com/css?family=Barriecito&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap');
.spacer {
  flex: 1 1 auto;
}

a:-webkit-any-link {
    color: white;
    cursor: pointer;
    text-decoration: none;
}

span {
  font-family: 'Lexend Deca', sans-serif;
  font-weight: lighter
}