.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1rem;
  max-width: 100%;
  padding: 25px
}

.card {
  max-width: 800px;
  border-radius: 8px;
}

mat-card-title {
  cursor: pointer;
}

.header-image {
  cursor: pointer;
}

p {
  
}

