
<div class="mat-app-background">
<p class="title">Buskers</p>
<div class="grid">
<div *ngFor="let busker of buskers; index as buskerId">
  
<mat-card class="card" [routerLink]="['/buskers', buskerId]" matRipple
     [matRippleCentered]="centered"
     [matRippleDisabled]="disabled"
     [matRippleUnbounded]="unbounded"
     [matRippleRadius]="radius"
     [matRippleColor]="color">
  <img mat-card-image [src]="busker.image" alt="Photo of {{ busker.name }}">
  <mat-card-header >
    <!-- <div mat-card-avatar class="header-image" [ngStyle]="{'background': '#fff url(' + busker.header + ') no-repeat 0 0', 'background-size': 'cover;','background-position': 'center, center', 'height': '44px;', 'width': '44px;'}" [routerLink]="['/buskers', buskerId]" matRipple [matRippleColor]="myColor"></div>
    -->
    <mat-card-title>{{ busker.name }}</mat-card-title>
    <mat-card-subtitle>{{ busker.description }}</mat-card-subtitle>
  </mat-card-header>
  <!--
  <mat-card-actions>
    <button mat-button [routerLink]="['/buskers', buskerId]">More Information</button>
    <button mat-button [routerLink]="['/buskers', buskerId]">VIDEOS</button>
  </mat-card-actions>
  -->
</mat-card>

</div>
</div>
<a class="twitter-timeline" data-theme="light" data-link-color="#E95F28" href="https://twitter.com/BotBusking?ref_src=twsrc%5Etfw">Tweets by BotBusking</a>
</div>
