.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 1rem;
  max-width: 100%;
  padding: 25px;
  background-color: #eeeeee;
}


.card {
  max-width: 600px;
  border-radius: 7px;
  background-color: #263238;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  color: white;
  cursor: pointer;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;
}

mat-card-title {
  cursor: pointer;
  font-family: 'Lexend Deca', sans-serif;
}

.header-image {
  cursor: pointer;
}

.title {
  font-family: 'Quicksand', sans-serif;
  font-size: 30px;
  padding: 0;
  margin-top: 10;
  margin-bottom: 0;
  font-weight: 700;
  text-align: center;
}

