<div class="mat-app-background">

<div class="grid">
<mat-card class="card">
  <mat-card-header>
    <div mat-card-avatar class="header-image1"></div>
    <mat-card-title>Allie Sherlock</mat-card-title>
    <mat-card-subtitle>Busker on Grafton Street</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://static1.squarespace.com/static/5bb22f5711f7844a36489bca/5c5a0a06c83025d7e54d5388/5c5a0a4deef1a12d338b688d/1549404749200/?format=500w" alt="Photo of a Allie Sherlock">
  <mat-card-content>
    <p>
      Aged 14, Allie comes down from Cork with her dad every weekend to busk on Grafton Street.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button [routerLink]="['/']">More Information</button>
    <button mat-button>VIDEOS</button>
  </mat-card-actions>
</mat-card>

<mat-card class="card">
  <mat-card-header>
    <div mat-card-avatar class="header-image2"></div>
    <mat-card-title>Padraig Cahill</mat-card-title>
    <mat-card-subtitle>Busker on Grafton Street</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://i.ytimg.com/vi/AregRiqHzbs/maxresdefault.jpg" alt="Photo of a Padraig Cahill">
  <mat-card-content>
    <p>
      Padraig is aged 16 and from Wicklow. He regularly takes the bus to Dublin to busk on Grafton Street, drawing large crowds.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>More Information</button>
    <button mat-button>VIDEOS</button>
  </mat-card-actions>
</mat-card>

<mat-card class="card">
  <mat-card-header>
    <div mat-card-avatar class="header-image3"></div>
    <mat-card-title>Jacob Coopman</mat-card-title>
    <mat-card-subtitle>Busker on Grafton Street</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://i.ytimg.com/vi/Zn-Y3nlBzSk/maxresdefault.jpg" alt="Photo of a Jacob Coopman">
  <mat-card-content>
    <p>
      Jacob is a Singer/Songwriter that can be found playing venues around Ireland and busking on Grafton Street playing a mixture of original and cover music.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>More Information</button>
    <button mat-button>VIDEOS</button>
  </mat-card-actions>
</mat-card>

<mat-card class="card">
  <mat-card-header>
    <div mat-card-avatar class="header-image4"></div>
    <mat-card-title>Saibh Skelly</mat-card-title>
    <mat-card-subtitle>Busker on Grafton Street</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://i.ytimg.com/vi/U1a_KiDId0k/maxresdefault.jpg" alt="Photo of a Padraig Cahill">
  <mat-card-content>
    <p>
      Aged 15, Saibh is from Dublin and busks on Grafton Street regularly, playing covers.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>More Information</button>
    <button mat-button>VIDEOS</button>
  </mat-card-actions>
</mat-card>
</div>
