<body>
<svg viewBox="0 0 900 600">
  <symbol id="s-text">
    <text class="text--line" y="35%" x="50%" text-anchor="middle">
    Grafton Street
    </text>
    <text class="text--line2" y="68%" x="50%" text-anchor="middle">
    Music
    </text>

  </symbol>

  <g class="g-ants">
    <use class="text-copy" xlink:href="#s-text"/>
    <use class="text-copy" xlink:href="#s-text"/>
    <use class="text-copy" xlink:href="#s-text"/>
    <use class="text-copy" xlink:href="#s-text"/>
    <use class="text-copy" xlink:href="#s-text"/>
  </g>


</svg>
</body>
