/* Add application styles & imports to this file! */
@import '@angular/material/prebuilt-themes/indigo-pink.css';


main {
  text-align: left;
  position: relative;
}

html,
body {
  height: 100%;
}