.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 1rem;
  max-width: 100%;
  padding: 25px
}

.news-card {
  border-radius: 7px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  margin-left: 7%;
  margin-right: 7%;
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 7px
}

.twitter-card {
  border-radius: 8px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  background-color: #292F33;
  padding-bottom: 0px;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 800px;
  flex-grow: 1;
  margin: 10px
}

h3 {
  color: #ffffff;
  font-family: 'Quicksand', sans-serif;
  font-weight: bolder;
  text-align: center;
  margin: 0px
}

.Advert {
  margin: 20px;
  color: #484848;
  font-weight: lighter;
  font-size: 15px
}

.container-list {
	width: 100%;
  position: absolute;
	top: 60%;
  background-color: #eeeeee;
}

.container-topper {
	width: 100%;
	position: absolute;
}

.centered {
  width: 80vw;
  min-width: 90%;
  max-width: 800px;
  height: 100%;
  margin: 0 auto;
  margin-top: 35px;
  margin-bottom: 35px;
  -webkit-justify-content: center; /_ Safari _/
  justify-content:         center;
  display: flex;
}

.sidenav-container {
  width: 100%;
  height: 100%;
  margin: 0px;
  border: 0px #eeeeee;
  background-color: #eeeeee;
}

mat-drawer {
  width: 20%;
  background-color: #cfd8dc;
}

.footer {
    position: relative;
    line-height: 2.4rem;
    z-index: 0;
    background-color: #ff5722;
    font-weight: 300;
    flex: 1 1 0%;
    padding: 48px;
    height: 70px;
    bottom: 0px;
    color: rgb(255, 255, 255);
    font-family: 'Lexend Deca', sans-serif;
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
}

