
<body>

  <a class="c-preview">
  <div class="c-preview__img"></div>
  <h2 class="c-preview__title">GraftonStreet.live</h2>
  
  </a>
  
  <div class="container-list">
  <app-buskers-list></app-buskers-list>
  </div>
  
  <!--
  <div class="grid-container">
    <div class="item1">
      <button mat-raised-button color="accent" [routerLink]="['/buskers']">Buskers</button>
    </div>
    <div class="item2">
      <button mat-raised-button color="accent" [routerLink]="['/buskers']">Buskers</button>
    </div>
  </div>
  -->

</body>   




