<app-topper></app-topper>
<div class="container-list">
  <mat-drawer-container class="sidenav-container">
  <mat-drawer mode="side" #sidenav [opened]="openSidenav" >Advertisement Here</mat-drawer>
  <mat-drawer-content>
  <div class="centered">
  <mat-card class="twitter-card">
  <h3 style="font-size: 25px">LIVE BOX</h3>
  <a class="twitter-timeline" data-height="450px" data-width="100%" data-theme="dark" data-link-color="#2B7BB9" href="https://twitter.com/BotBusking?ref_src=twsrc%5Etfw">Tweets from our Robot</a>
  </mat-card>
  </div> 
  <mat-divider></mat-divider>
  <app-buskers-home></app-buskers-home>

<mat-divider></mat-divider>
<mat-card class="news-card">
  <iframe width="100%" height="400" src="https://rss.app/embed/v1/Vd8BZXwoyVAvEdV9" frameBorder="0" ></iframe>
  </mat-card>

  <div class="footer">
  <p> Follow on Twitter
  <a href="https://twitter.com/BotBusking"> twitter.com/BotBusking </a>
  </p>
</div>  
  </mat-drawer-content>
  </mat-drawer-container> 
</div> 


  <!--
  <div class="grid-container">
    <div class="item1">
      <button mat-raised-button color="accent" [routerLink]="['/buskers']">Buskers</button>
    </div>
    <div class="item2">
      <button mat-raised-button color="accent" [routerLink]="['/buskers']">Buskers</button>
    </div>
  </div>
  -->







