<body>
<app-toolbar></app-toolbar>

<ul class="flex-container">
  <li class="flex-item">
    <svg viewBox="0 0 900 600">
    <symbol id="s-text">
    <text class="text--line" y="35%" x="50%" text-anchor="middle">
    Grafton Street
    </text>
    <text class="text--line2" y="68%" x="50%" text-anchor="middle">
    Music
    </text>

    </symbol>

    <g class="g-ants">
      <use class="text-copy" xlink:href="#s-text"/>
      <use class="text-copy" xlink:href="#s-text"/>
      <use class="text-copy" xlink:href="#s-text"/>
      <use class="text-copy" xlink:href="#s-text"/>
      <use class="text-copy" xlink:href="#s-text"/>
    </g>


    </svg>
  </li>
  <li class="flex-item">
    <button mat-raised-button color="accent" [routerLink]="['/buskers']">Primary</button>
  </li>
  <li class="flex-item">3</li>
</ul>
<!--
<ul class="flex-container">
  <li class="flex-item">
    <svg viewBox="0 0 900 600">
    <symbol id="s-text">
    <text class="text--line" y="35%" x="50%" text-anchor="middle">
    Grafton Street
    </text>
    <text class="text--line2" y="68%" x="50%" text-anchor="middle">
    Music
    </text>

    </symbol>

    <g class="g-ants">
      <use class="text-copy" xlink:href="#s-text"/>
      <use class="text-copy" xlink:href="#s-text"/>
      <use class="text-copy" xlink:href="#s-text"/>
      <use class="text-copy" xlink:href="#s-text"/>
      <use class="text-copy" xlink:href="#s-text"/>
    </g>


    </svg>
  </li>
  <li class="flex-item">
    <button mat-raised-button color="accent" [routerLink]="['/buskers']">Primary</button>
  </li>
</ul>
-->

  <!--  
  <mat-grid-list cols="2" rowHeight="">
      <mat-grid-tile colspan="2"><app-logo></app-logo></mat-grid-tile>
      <mat-grid-tile colspan="2">
          <app-menu></app-menu>
      </mat-grid-tile>
  </mat-grid-list>
  -->



</body>

