<body>
<div>
<div *ngIf="busker">
  <h3>{{ busker.name }}</h3>
</div>

<mat-accordion>
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header style="font-size: 17px">
      <mat-panel-title style="font-weight: bold;">
        About {{ busker.name }} 
      </mat-panel-title>
      <mat-panel-description>
        {{panelOpenState ? 'Busker description' : 'click to see'}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p> {{ busker.para1 }} </p>
    <p> {{ busker.para2 }} </p>
    
  </mat-expansion-panel>
</mat-accordion>

<mat-tab-group mat-stretch-tabs class="stretched-tabs">
  <mat-tab label="About">
    <mat-card>
      
    </mat-card>
  </mat-tab>
  <mat-tab label="Videos">
    <mat-card>
      <h3 style="font-size: 26px">All Busking Videos</h3>
      <iframe width="100%" height="350" [src]="busker.videos | safe: 'resourceUrl'" frameborder="0" allow="autoplay; encrypted-media; picture-in-picture; gyroscope;" allowfullscreen></iframe>
    </mat-card>

    <mat-card>
      <h3  style="font-size: 26px">{{ busker.other }}</h3>
      <iframe width="100%" height="350" [src]="busker.live | safe: 'resourceUrl'" frameborder="0" allow="autoplay; encrypted-media; picture-in-picture; gyroscope;" allowfullscreen></iframe>
    </mat-card>

  </mat-tab>
  <mat-tab label="Music">
    <mat-card>
      <h3  style="font-size: 26px">{{ busker.musict1 }}</h3>
      <iframe [src]="busker.music1 | safe: 'resourceUrl'" width="100%" height="400" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    </mat-card>
    <mat-card>
      <h3  style="font-size: 26px">{{ busker.musict2 }}</h3>
      <iframe [src]="busker.music2 | safe: 'resourceUrl'" width="100%" height="400" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    </mat-card>
  </mat-tab>
</mat-tab-group>
</div>
</body>